@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&display=swap');

@font-face {
  font-family: 'Pushster';
  src: url('../fonts/Pushster-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
}

body {
  background-color: #fef3e0;
}

header {
  background-color: #222;
  padding: 20px 5%;
  width: 90%;
  border-bottom: 5px solid #000;
}

header .logo {
  font-family: 'Pushster', cursive;
  font-size: 35px;
  color: #fff;
}

header input {
  float: right;
  border: 0;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 5px 10px;
  width: 250px;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

main {
  width: 90%;
  padding: 50px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: width 700ms ease-in-out;
}

main .item {
  position: relative;
  width: 380px;
  background-color: #f3bd00;
  padding: 20px;
  margin-bottom: 50px;
}

main .item img {
  transition: transform 500ms ease;
}

main .item:hover img {
  transform: scale(1.05);
}

main .item h4 {
  font-weight: 600;
  color: #9c3000;
  font-size: 23px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.add-to-cart {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: #8d6a05;
  transition: all 500ms ease;
  cursor: pointer;
}

.add-to-cart:hover {
  color: #d93c0b;
  transform: scale(1.1);
}

main,
header,
footer,
aside {
  float: left;
}

.shop-cart-block {
  float: left;
  width: 20%;
  padding: 50px 5%;
  background-color: #fafafa;
}

.shop-cart-block h4 {
  font-weight: 600;
  font-size: 25px;
}

.shop-cart-block .titles {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-weight: 600;
}

.shop-cart-block .titles span {
  display: block;
}

.shop-cart-block .go-shop,
.shop-cart-block .delete-all {
  width: 100%;
  margin-top: 50px;
  border: 0;
  height: 70px;
  text-align: center;
  font-size: 16px;
  line-height: 70px;
  background-color: #fdbd01;
  transition: background 500ms ease;
  cursor: pointer;
}

.shop-cart-block .go-shop:hover,
.shop-cart-block .delete-all:hover {
  background-color: #ff8605;
}

.shop-cart-block:not(.active) {
  display: none;
}

.shop-cart-button {
  position: fixed;
  bottom: 50px;
  left: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  background-color: #d93c0b;
  border: 2px solid #b8320a;
  color: white;
  cursor: pointer;
  transition: transform 500ms ease;
}

.shop-cart-button:hover {
  transform: scale(1.5) translateY(-10px);
}

.shop-item {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
  color: #545454;
  align-items: center;
}

.shop-item .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70px;
}

.shop-item img {
  margin-bottom: 5px;
}

.shop-item .count {
  font-weight: 600;
  display: flex;
  align-items: center;

}

.shop-item .count button {
  border: 0;
  background-color: #f3bd00;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50%;
  color: #6a5106;
  transition: background 500ms ease;
}

.shop-item .count button:hover {
  background-color: #c19808;
}

.shop-item .count span {
  margin: 0 5px;
}

.shop-item .count .delete {
  font-size: 15px;
  margin-left: 5px;
  background-color: white;
  transition: color 800ms ease;
}

.shop-item .count .delete:hover {
  background-color: white;
  color: black;
}

.shop-item .count input {
  width: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
}

footer {
  background-color: #222;
  border-top: 5px solid #000;
  width: 90%;
  padding: 20px 5%;
  text-align: center;
  color: #fff;
}